.container {
    margin-top: 50px;
}

p {
    font-size: 18px;
    color: #333;
}

img {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    max-width: 100%;
    height: auto;
}
